html,body{
  margin: 0px;
  padding: 0px;
}
.banner{
background:
linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
),
url('../images/Dunkirk.jpg') top center ;
background-size: cover;
padding-top: 20%;
padding-bottom: 20%;
}
