.banner{
background:
linear-gradient(
  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)
),
url('../images/Dunkirk.jpg') top center;
background-size: cover;
height: 100vh;
position: relative;
}

.banner-text{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3%;
  margin-top: 18%;
  margin-bottom: 20%;

}
.banner-text h1{
  font-size: 25px;
  font-family: Anton;
  border-bottom: 1px solid #ffff00;
}
.banner-text h3{
  font-size: 18px;

}
.banner-text h1, .banner-text h3{
  font-family: Roboto;
  color: #ffff00;
}


#search_item{
  background-color: inherit;
  color: white;
  font-family: Roboto;
  border-color: gray;
  font-size: 15px;

}
#submit{
  display: none;

}

@media (max-width:768px){
  .banner-text{

    margin-top: 60vh;
  }
  .banner-text h1{
    font-size: 22px;
  }
  .banner-text h3{
    font-size: 17px;
  }

}
