.banner{
background:
linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
),
url('../images/Dunkirk.jpg') top center;
background-size: cover;

}

.banner-text{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3%;
  margin-top: 10%;
  margin-bottom: 24%;

}
.banner-text h1{
  font-size: 25px;
  font-family: Anton;
  border-bottom: 1px solid #ffff00;
}
.banner-text h3{
  font-size: 18px;

}
.banner-text h1, .banner-text h3{
  font-family: Roboto;
  color: #ffff00;
}

@media (max-width:768px){
  .banner-text{

    padding: 0;
    margin-top: 100%;
  }
  .banner-text h1{
    font-size: 20px;
  }
  .banner-text h3{
    font-size: 16px;
  }

}
