.navbar{
margin-bottom:0px;
border-radius: 0px;
}
.navbar-nav>li{
  font-size: 15px;
  font-family: Roboto;

}
.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;

}
.navbar-inverse .navbar-nav>li>a:hover{
  color:#ffff5a;
}

.navbar-inverse{
  background-color: #000000;
}
.navbar-inverse .navbar-brand{
  color:#c7cc00;
  font-size: 25px;
    font-family: Anton;
}
.navbar-inverse .navbar-brand:hover{
  color:#c7cc00;

}
