{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Adding custom styles for the index page -->
    {% block styles %}
      {{super()}}
      <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}


<!-- adding body content  -->
    {% block content %}
    <!-- Banner section  -->
    <div class="container-fluid banner">

      <div class="banner-text col-sm-5">
        <h1>Dunkirk</h1>
        <h3>At the point of crisis, at the point of annihilation, survival is victory.</h3>
      </div>
    </div>

    <!-- search form section -->
    <div class="container-fluid search-form">
    {{  wtf.quick_form(form) }}
    </div>

    {% endblock %}
